<% layout('layout') -%>


<script type='text/javascript'>

$(document).ready(function() {

	
$('#test-btn').click(function(){

 
	$('#userName').attr('value', 'Toa Man');
	$('#userEmail').attr('value','toto@home.be') ;
	$('#password').attr('value', 'pass');
	$('#password_conf').attr('value','pass');

});

 $('#register_form').submit(function(e){
 
	/*$.post('/register', $(this).serialize(), function(res){
	console.log(res);
		$('#errors_box').empty();
		$('#errors_box').html(res).show();
	
	
	} );
	 
 
 return false; */
 });
 

});

 </script>






<div id="form-box">
<form id="register_form" method="post" action="/register">

<table>
	
	
	<tr>
		<th><label class="form-labels" for="userName">Online Name</label></th>
		<td><input id="userName" name="userName" type="text" class="form-inputs"   required="required" /></td>
	</tr>
	<tr>
		<th><label class="form-labels" for="userEmail">Email</label></th>
		<td><input id="userEmail" name="userEmail" type="email" class="form-inputs" required="required" /></td>
	</tr>
	
	<tr>
		<th><label class="form-labels" for="password">Passowrd</label></th>
		<td><input id="password" name="password" type="password" class="form-inputs" required="required" /></td>
	</tr>
	
	<tr>
		<th><label class="form-labels" for="password-conf"> Passowrd again</label></th>
		<td><input id="password_conf" name="password_conf" type="password" class="form-inputs" required="required" /></td>
	</tr>
	<tr>
		<td><div id="errors_box"></div> </td>
	</tr>

</table>

 <div id="from-btn-box">
<input id="register-btn" type="submit" value="Register"/>
<input id="test-btn" type="button" value="test"/>
</div> 

</form>

</div>

