<% layout('layout') -%>


<script type='text/javascript'>

$(document).ready(function() {

	
$('#test-btn').click(function(){

 
	$('#userName').attr('value', 'Toa Man');
	$('#userEmail').attr('value','toto@home.be') ;
	$('#password').attr('value', 'pass');
	$('#password-conf').attr('value','pass');

});

 $('#register_form').submit(function(e){
 
	e.preventDefault();
	var formData = $("#register_form").serialize();
 
	alert(formData);
	console.log($("#register_form").serialize());
 
 
 });
 

});

 </script>






<div id="form-box">
<form id="register_form" method="post" action="register">

<table>
	
	
	<tr>
		<th><label class="form-labels" for="userName">Online Name</label></th>
		<td><input id="userName" type="text" class="form-inputs" required /></td>
	</tr>
	<tr>
		<th><label class="form-labels" for="userEmail">Email</label></th>
		<td><input id="userEmail" type="email" class="form-inputs"required /></td>
	</tr>
	
	<tr>
		<th><label class="form-labels" for="password">Passowrd</label></th>
		<td><input id="password" type="password" class="form-inputs" required /></td>
	</tr>
	
	<tr>
		<th><label class="form-labels" for="password-conf"> Passowrd again</label></th>
		<td><input id="password-conf" type="password" class="form-inputs"required /></td>
	</tr>

</table>

 <div id="from-btn-box">
<input id="register-btn" type="submit" value="Register"/>
<input id="test-btn" type="button" value="test"/>
</div> 

</form>

</div>

