<% layout('layout') -%>

<section id="main" class="column">
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Content Manager</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Posts</a></li>
    		<li><a href="#tab2">Comments</a></li>
    		<li><a href="#tab3">tests</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
				
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
					tab 2fff

			</div><!-- end of #tab2 -->
			
			<div id="tab3" class="tab_content">
					tab 3ffffffffffffdddddddddddddddddddddddddddddd
					<%= list%>
					<%= videoPath%>
		<% if(list == 0) console.log(  list[1] );
		for( var i=0; i< list.length; i++){ %>
		
		<a href="videos/"+ <%= list[i] %> > <%= l %> </a>
		 
	<% };%>

			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
	
	</section> <br>
	
	 
	
	
	

