<% layout('layout') -%>

	<section id="main" class="column">
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Content Manager</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Posts</a></li>
    		<li><a href="#tab2">Comments</a></li>
    		<li><a href="#tab3">tests</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
					 <object classid="clsid:67DABFBF-D0AB-41fa-9C46-CC0F21721616"
					   width="640" height="264"
						codebase="http://go.divx.com/plugin/DivXBrowserPlugin.cab">
						<param name="src" value="videos/Finding modules.avi"/>
						 
						<embed
							type="video/divx"
							src="videos/Finding modules.avi"
							width="640" height="264"
							pluginspage="http://go.divx.com/plugin/download/">
						</embed>
					</object >
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
					tab 2

			</div><!-- end of #tab2 -->
			
			<div id="tab3" class="tab_content">
					tab 3

			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		<section id="vid-box">





 

</section>

		
		

	</section>
	
	

